@tailwind base;
@tailwind components;
@tailwind utilities;


.mantine-Carousel-controls{
    position:absolute;
    top:93%;
    width:8%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .mantine-Carousel-controls {
      width:33%
    }
  }

